<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
       <h1>Feeds</h1> 
        
        <ol>
            <% Feed.forEach(function(data){ %>
                
                <li><%=data.text %> </li>

                <a href="comments/<%=data._id%>">comment</a><br>
                <%=data.create_date%>
                <!-- <form className="commentForm" action="/feedlist" method="post">
                
                    <input type="text" placeholder="Say something..." name="text" />
                    <input type="submit" value="Comment" />
                  </form> -->
                   
            <% }) %>

        </ol>        

</body>
</html>