<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FakerNews</title>
</head>
<body>
    <h1> NEWS loading..</h1> 
    <form method="post" action="/">
        <label>Enter Your Feed</label><br>
        <input type="text" name="text" placeholder="Enter somthing..." required>
        
        <input type="submit" value="Add feed">
        </form>
</body>
</html>
